* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.imgbox {
    display: grid;
    height: 100%;
}
/* Bigger Govardhan image class */
.center-fit {
    position: relative;
    max-width: 100%;
    max-height: 90vh;
    border:none;
    margin: auto;
}

/* 
    Hard coding feet position around the image 
    Issue 1 : Need to make this relative to the bigger image.  When I open the window on a bigger screen, 
    the feet images move around as it isn't relative to the Govardhan image.

 */
.feet-1 {
    position: absolute;
    bottom: 6%;
    right: 53%;
    width: 80px; 
    height: 80px;
    border: none
 }
.feet-2 {
    position: absolute;
    bottom: 8%;
    left: 35%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-3 {
    position: absolute;
    bottom: 15%;
    left: 25%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-4 {
    position: absolute;    
    transform: rotate(10deg);
    bottom: 22%;
    left: 20%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-5 {
    position: absolute;
    transform: rotate(20deg);
    bottom: 32%;
    left: 17%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-6 {
    position: absolute;
    transform: rotate(110deg);
    top: 26%;
    left: 18%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-7 {
    position: absolute;
    transform: rotate(120deg);
    top: 17%;
    left: 24%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-8 {
    position: absolute;
    transform: rotate(125deg);
    top: 10%;
    left: 30%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-9 {
    position: absolute;
    transform: rotate(145deg);
    top: 6%;
    left: 46%;
    width: 70px; 
    height: 80px;
    border: none
}
.feet-10 {
    position: absolute;
    transform: rotate(155deg);
    top: 6%;
    left: 56%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-11 {
    position: absolute;
    transform: rotate(165deg);
    top: 11%;
    right: 30%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-12 {
    position: absolute;
    transform: rotate(190deg);
    top: 17%;
    right: 24%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-13 {
    position: absolute;
    transform: rotate(190deg);
    top: 25%;
    right: 20%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-14 {
    position: absolute;
    transform: rotate(195deg);
    top: 33%;
    right: 17%;
    width: 80px; 
    height: 80px;
    border: none
} 
.feet-15 {
    position: absolute;
    transform: rotate(290deg);
    bottom: 37%;
    right: 16%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-16 {
    position: absolute;
    transform: rotate(290deg);
    bottom: 27%;
    right: 20%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-17 {
    position: absolute;
    transform: rotate(300deg);
    bottom: 15%;
    right: 27%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-18 {
    position: absolute;
    transform: rotate(320deg);
    bottom: 10%;
    right: 33%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-19 {
    position: absolute;
    transform: rotate(330deg);
    bottom: 7%;
    right: 40%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-20 {
    position: absolute;
    transform: rotate(340deg);
    bottom: 5%;
    right: 46%;
    width: 80px; 
    height: 80px;
    border: none
}