* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.container {        
    position: relative;
    display: grid;
    height: 100%;
    margin-left: 17%;
    margin-right: 17%;
    justify-content: center;
    background-color: aqua
}
/* Bigger Govardhan image class */
#govardhanImg {
    max-width: 100%;
    max-height: 90vh;
    border:none;
    margin: auto;
}

.text-block-1 {
    position: absolute;
    bottom: 49%;
    right: 38%;   
    font-size: 3.2vmin ;
    text-align: center;
    color: #fefff8;
    font-family: Georgia;
}
.text-block-2 {
    position: absolute;
    bottom: 41%;
    right: 30%;
    max-height: 100%;
    font-size: 3.2vax ;   
    text-align: center;
    color: #fefff8;    
    font-family: Georgia;
}
.feet-1 {
    position: absolute;
    bottom: 2%;
    right: 53%;
    width: 80px; 
    height: 80px;
    border: none
 }
.feet-2 {
    position: absolute;
    bottom: 4%;
    left: 30%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-3 {
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-4 {
    position: absolute;    
    transform: rotate(10deg);
    bottom: 17%;
    left: 8%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-5 {
    position: absolute;
    transform: rotate(20deg);
    bottom: 30%;
    left: 2%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-6 {
    position: absolute;
    transform: rotate(110deg);
    top: 26%;
    left: 1%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-7 {
    position: absolute;
    transform: rotate(120deg);
    top: 13%;
    left: 10%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-8 {
    position: absolute;
    transform: rotate(125deg);
    top: 5%;
    left: 20%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-9 {
    position: absolute;
    transform: rotate(145deg);
    top: 1%;
    left: 46%;
    width: 70px; 
    height: 80px;
    border: none
}
.feet-10 {
    position: absolute;
    transform: rotate(155deg);
    top: 1%;
    left: 58%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-11 {
    position: absolute;
    transform: rotate(165deg);
    top: 5%;
    right: 25%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-12 {
    position: absolute;
    transform: rotate(190deg);
    top: 10%;
    right: 13%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-13 {
    position: absolute;
    transform: rotate(190deg);
    top: 18%;
    right: 6%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-14 {
    position: absolute;
    transform: rotate(200deg);
    top: 30%;
    right: 1%;
    width: 80px; 
    height: 80px;
    border: none
} 
.feet-15 {
    position: absolute;
    transform: rotate(290deg);
    bottom: 37%;
    right: 1%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-16 {
    position: absolute;
    transform: rotate(290deg);
    bottom: 27%;
    right: 5%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-17 {
    position: absolute;
    transform: rotate(300deg);
    bottom: 15%;
    right: 14%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-18 {
    position: absolute;
    transform: rotate(320deg);
    bottom: 7%;
    right: 23%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-19 {
    position: absolute;
    transform: rotate(330deg);
    bottom: 3%;
    right: 35%;
    width: 80px; 
    height: 80px;
    border: none
}
.feet-20 {
    position: absolute;
    transform: rotate(340deg);
    bottom: 2%;
    right: 43%;
    width: 80px; 
    height: 80px;
    border: none
}